{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rango
{% endblock %}

{% block body_block %}
	{% if user.is_authenticated %}
		<h1>Welcome {{ user.username }}!</h1>
	{% else %}
		<h1>Welcome!</h1>
	{% endif %}

	
	<h2>Highest Rated Games</h2>
		{% if games %}
		<ul>
			{% for game in games %}
				<li>
				<a href="{% url 'show_game' game.slug %}">{{ game.name }}</a>
				</li>
			{% endfor %}
		</ul>
		{% else %}
			<strong> There are no games present.</strong>
		{% endif %}
		
	<h2>Most Viewed Games</h2>
	{% if reviews %}
		<ul>
			{% for game in games %}
				<li>
				<a href="{{ game }}">{{ game.name }}</a>
				</li>
			{% endfor %}
		</ul>
		{% else %}
			<strong> There are no games present.</strong>
		{% endif %}
		<br>
	<img src="{% static "images/Do_you_want_to_have_a_bad_time.jpg" %}" alt="Picture of Sans" />
{% endblock %}